h1 {border: 10px solid red; 
    background: red;
    font-size: 120%;
    color: white;
    font-family: Verdana;}

body {
      background-color: white;
      }

#image1 {
  object-position: 25px 30px;
}

#image2 {
  position:relative;
  left: 50px;
  top: -270px;
}

#image5 {
  position:relative;
  left: 650px;
  top: -240px;  
}

#image6 {
  position:relative;
  left: 500px;
  top: -100px; 
}

ul {border: 10px solid rgb(73, 71, 71); 
    background:  rgb(73, 71, 71);
    font-family: Verdana;
    font-size: 75%;
    text-align: right;
}

ul li {
  color: white;
}

h2 {
  font-size: 110%;
  font-family: Verdana;
  position: relative;
  left: 25px;
  top: -75px;
}

p {font-size: 100%;
  font-family: Verdana;
  position: relative;
  left: 25px;
  top: -70px;
}

h3 {
  font-size: 75%;
  font-family: Verdana;
  position: relative;
  left: 650px;
  top: -540px;
  color: black;
}

h4 {
  font-size: 75%;
  font-family: Verdana;
  position: relative;
  left: 650px;
  top: -420px;
  color: black;
}

h5 {
  font-size: 75%;
  font-family: Verdana;
  position: relative;
  left: 650px;
  top: -290px;
  color: black;
}

  

